<mat-card>
    <mat-card>
        <mat-card-subtitle>
            <button mat-raised-button (click)="newTest()">New Test</button>
        </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>
            <button mat-raised-button (click)="back()" [disabled]="qaIndex == 0">Back</button>
            <button mat-raised-button (click)="next()" [disabled]="qaIndex == qaCount()"
                class="align-button-right">Next</button>
        </mat-card-subtitle>
    </mat-card>
</mat-card>
<br>
<br>
<mat-card>
    <app-qa></app-qa>
</mat-card>
<!-- <div class="box box-default box-code">
    <code>
        <pre class="box-code">{{qaTest |json}}</pre>
    </code>
</div> -->
