<p>qa-test works!</p>
<mat-card class="active" style="margin:2em;">
    <div class="options">
        <button mat-raised-button (click)="newTest()">New Test</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="back()" [disabled]="qaIndex == 0">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="next()">Next</button>
    </div>
</mat-card>
<mat-card>
    <app-qa></app-qa>
</mat-card>
<div class="box box-default box-code">
    <code>
        <pre class="box-code">{{qaTest |json}}</pre>
    </code>
</div>