<div>
    <div *ngIf="qa">
    <div>Select any {{qa.maxSelection}} from below choices!!!</div>
    <p>{{qa.question}}</p>
    <p>Choices {{qa.selectionCounter}}/{{qa.maxSelection}}</p>
        <div [ngSwitch]="qa.qType">
            <div *ngSwitchCase="qType.TextType">
                <input type="text" />
            </div>
            <div *ngSwitchCase="qType.BoolType">
                <input type="radio">
            </div>
            <div *ngSwitchCase="qType.MultType">
                <div *ngFor="let choice of qa.choices">
                    <div class="options">
                        <mat-checkbox value="{{choice.index}}" 
                            [disabled]="choice.disabled" 
                            [checked]="choice.checked"
                            [ngModelOptions]="{standalone: true}"
                            (change)="choice.checked = !choice.checked"
                            (change)="onChoiceSelection($event.source.value)">
                            <label>{{choice.value}}</label>
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="options">
            <button mat-raised-button (click)="validate()">Validate</button>
        </div>
    
        <div class="options" *ngIf="qa.validated && qa.revealed">
            <ul>
                <div *ngFor="let choice of qa.choices">
                        <div [ngClass]="{
                            'text-success':choice.correct == true && qa.validated === true,
                            'text-fail':choice.correct == false && qa.validated === true
                            }">
                        <li>{{choice.hint}}</li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>