<div class="card">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="col-8">Profile</th>
        <th class="col-4">Contact Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>
          <div class="img-container">
            <img src='assets/images/about/AmitKshirsagar.png' alt="Amit Kshirsagar" />
          </div>
        </td>
        <td>
          <div>Name: Amit Kshirsagar</div>
          <div>Name: Amit Kshirsagar</div>
          <div>Name: Amit Kshirsagar</div>
          <div>Name: Amit Kshirsagar</div>
          <div>Name: Amit Kshirsagar</div>
          <div><input type="button" class="btn" value="Try Me" (click)="tryMe()"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
