.choice-input {
  padding: 0.9rem;
}

.vertical-center {
  display: inline-block;
  transform: translateY(-100%);
  padding: 1rem 2rem 1rem 1rem;
}

.choice {
  display: inline-block;
  padding: 0.5rem;
}


hr.dotted {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px solid #ccc;
}

.line-textarea {
  width: 30rem;
  height: 5rem;
}