<div class="container color-dark">
  <div class="col">Profile</div>
  <div class="col">Contact Details</div>
</div>
<div class="container color-light">
  <div class="col">
    <div class="img-container">
      <img src='assets/images/about/AmitKshirsagar.png' alt="Amit Kshirsagar" />
    </div>
  </div>
  <div class="col">
    <div>Name: Amit Kshirsagar</div>
    <div>Name: Amit Kshirsagar</div>
    <div>Name: Amit Kshirsagar</div>
    <div>Name: Amit Kshirsagar</div>
    <div>Name: Amit Kshirsagar</div>
    <div><input type="button" class="btn" value="Try Me" (click)="tryMe()"></div>
  </div>
</div>