<div class="card jumbotron">
  <form (ngSubmit)="onSubmit()" #demoForm="ngForm" class="dark">
    <div>
      <h3><label for="question">Question:</label></h3>
    </div>
    <div>
      <ckeditor [config]="editorConfig" [(ngModel)]="qa.question" [editor]="Editor" id="question" name="question"
        (ready)="onReady($event)">
      </ckeditor>
    </div>

    <div>
      <app-multi-choice-editor [(choices)]="qa.choices" [(qType)]="qa.qType" [(maxSelection)]="qa.maxSelection">
      </app-multi-choice-editor>
    </div>
    <div><div class="empty-div-inline" style="display: inline;">
      <button type="reset" (click)="reset()" class="btn btn-light">Reset Question</button>
    </div>
    <div class="empty-div-inline" style="display: inline; margin-left: 1rem;">
      <button type="button" (click)="printQa()" class="btn btn-dark">Print Question</button>
    </div>
      <div class="empty-div" style="display: inline; margin-left: 1rem;">
        <button type="submit" class="btn btn-primary">Add Question</button>
      </div>
    </div>
  </form>
</div>