<div class="card jumbotron">
  <div class="row">
    <div class="panel panel-primary">
      <h1 class="text-center">Welcome to K8Cluster</h1>
      <h2 class="panel-heading">Test Platform for Primay and Middle Schools</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-8 card ">
      <ul>
        <li>
          <p>
            This platform allows teachers to test students based on chapters and exam for quarter, semister and annual
            online.
          </p>
        </li>
        <li>
          <p>
            Students can easily login and connect with the test/exams and get themselves evaluated easily.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-4 card">
      about:- K8Clusters, Author: Amit Kshirsagar
    </div>
  </div>
</div>