<div class="card">
  <div *ngIf="examQa">
    <div class="card-header">Question Number: {{examQa.index}}</div>
    <div class="card-header">Select any {{examQa.maxSelection}} from below choices!!!</div>
    <div class="card-body">
      <div [innerHTML]="examQa.question"></div>
      <p>Choices {{examQa.selectionCounter}}/{{examQa.maxSelection}}</p>
      <div [ngSwitch]="examQa.qType">
        <div *ngSwitchCase="TEXTTYPE">
          <input type="text" />
        </div>
        <div *ngSwitchCase="BOOLTYPE">
          <div *ngFor="let choice of examQa.choices">
            <div class="options">
              <input type="radio" value="{{choice.index}}" 
              [disabled]="choice.disabled" 
              [checked]="choice.checked"
                (change)="choice.checked = !choice.checked"
                (change)="onChoiceSelection(this.value)">
                <label>{{choice.value}}</label>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="MULTTYPE">
          <div *ngFor="let choice of examQa.choices">
            <div class="options">
              <input type="checkbox" value="{{choice.index}}" 
                [disabled]="choice.disabled" 
                [checked]="choice.checked"
                (change)="choice.checked = !choice.checked"
                (change)="onChoiceSelection(this.value)">
                <label>{{choice.value}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button (click)="validate()">Validate</button>
    </div>
  </div>
</div>