<div *ngIf="examQa" class="card">
  <div class="card">
    <div class="card-header">Question Number: {{examQa.index}}</div>
    <!-- <div class="card-header">Select any {{examQa.maxSelection}} from below choices!!!</div> -->
    <div class="card-body">
      <div [innerHTML]="examQa.question"></div>
      <p>Choices {{examQa.selectionCounter}}/{{examQa.maxSelection}}</p>
      <div class="choice-options">
        <div [ngSwitch]="examQa.qType">
          <div *ngSwitchCase="TEXTTYPE">
            <input type="text" />
          </div>
          <div *ngSwitchCase="BOOLTYPE">
            <div *ngFor="let choice of examQa.choices">
              <div class="custom-control custom-radio vertical-marigned options">
                <input  class="custom-control-input" id="BOOLTYPE{{choice.index}}" type="radio" value="{{choice.index}}" 
                  [disabled]="choice.disabled" 
                  [checked]="choice.checked"
                  (click)="choice.checked = !choice.checked"
                  (click)="onChoiceSelection(this.value)">
                  <label class="custom-control-label choice-item" for="BOOLTYPE{{choice.index}}">{{choice.value}}</label>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="MULTTYPE">
            <div *ngFor="let choice of examQa.choices">
              <div class="custom-control custom-checkbox vertical-marigned options">
                <input class="custom-control-input" id="MULTTYPE{{choice.index}}" type="checkbox" value="{{choice.index}}" 
                  [disabled]="choice.disabled" 
                  [checked]="choice.checked"
                  (change)="choice.checked = !choice.checked"
                  (change)="onChoiceSelection(this.value)">
                  <label class="custom-control-label choice-item" for="MULTTYPE{{choice.index}}">{{choice.value}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="examQa" class="card-footer text-center">
      <button class="btn btn-dark float-left" (click)="prev()" style="display: inline; margin-right: 4rem;" [disabled]="!prevEnabled">Prev</button>
      <button class="btn btn-info" (click)="review()" style="display: inline; margin-right: 4rem;">Review Toggle</button>
      <button class="btn btn-primary float-right" (click)="next()" [disabled]="!nextEnabled">Next</button>
    </div>
  </div>
</div>