<div class="card jumbotron">
  <div class="row">
    <div class="col-12">
      <app-exam-timer *ngIf="examQa" [duration]="30" [examTitle]="examQa.id" (submitExam)="onSubmitExam()"></app-exam-timer>
    </div>
  </div>
  <div class="row">
    <div class="col-9 question-panel">
      <app-exam-qa *ngIf="examQa" [(examQa)]="examQa" [examQaIndex]="examQaIndex" (examQaIndexChange)="indexSelection($event)" [prevEnabled]="prevEnabled" [nextEnabled]="nextEnabled"></app-exam-qa>
    </div>
    <div class="col-3 exam-overview">
      <app-exam-overview *ngIf="examQaList" [examQaList]="examQaList" (indexSelection)="indexSelection($event)"></app-exam-overview>
    </div>
  </div>
</div>
