<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" style="overflow: hidden !important" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><p>K8Clusters</p></mat-toolbar>
    <mat-nav-list class='menu'>
      <a mat-list-item href="#" routerLink="">Home</a>
      <a mat-list-item href="#" routerLink="about">About</a>
      <mat-divider></mat-divider>
      <a mat-list-item>Division</a>
      <mat-list-item *ngFor="let division of divisions">
          <a mat-list-item href="#" routerLink="qa">{{division.grade}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class='color-light'>
    <mat-toolbar color="primary" class="nav-color-dark">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><img src="assets/images/nav/nav-24px.svg" alt="Menu"/></mat-icon>
      </button>
      <div class='header-root-container'>
        K8Clusters Learning Management System
      </div>
    </mat-toolbar>
    <div class='root-container'>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
