.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #3fa0e1;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}



.mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-subheader {
    display: inline;
    margin: 2px 2px 2px 2px;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
    border-radius: 4px;
}

.mat-list-item {
    display: inline;
    margin: 2px 2px 2px 2px;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
    border-radius: 4px;
}

.mat-drawer-content {
  overflow: hidden;
}

.mat-list-item:hover {
    background: #1179be;
    cursor: pointer;
}

.mat-list-item a {
    color: #fff;
    text-decoration: none;
}

.mat-sidenav-content {
    margin-right: 1rem;
}

.nav-color-dark {
    background: #2885c4;
    font-weight: bold;
    color:  #0f202c;
}
