.timer-card {
  background-color: inherit;
  height: 3rem;
  vertical-align: middle;
}

.padded-panel {
  padding: 0.1rem;
}

.large-padding {
  padding: 0.6rem;
}

.digital-font {
  font-family: 'Orbitron', sans-serif;
}