<div class="card">
  <div class="card-header">Question Summary: </div>
  <div class="card-body">
    <ul>
      <li class="question-map__not-visited">12</li>
      <li class="question-map__not-visited">12</li>
      <li class="question-map__not-visited">12</li>
      <li class="question-map__not-visited">12</li>
      <li class="question-map__attempt-icon">12</li>
      <li class="question-map__not-visited">12</li>
      <li class="question-map__not-visited">12</li>
      <li class="question-map__review-answered">12</li>
      <li class="question-map__review">12</li>
      <li class="question-map__not-visited">12</li>
      <li class="question-map__not-answered">12</li>
      <li class="question-map__answered">12</li>
      <li class="question-map__not-visited">12</li>
    </ul>
  </div>
</div>