.dark {
	padding: 1rem 1.5rem;
    color: #000000;
}

textarea {
	font-family: monospace;
	background-color: lightgray;
}

input {
	font-family: monospace;
	background-color: lightgray;
}

form {
	padding: 1em 1.5em;
    color: #000000;
}

form label {
	display: block;
    font-weight: bold;
    color: #000000;
}

form input {
	width: 30em;
}

form > div {
	margin-bottom: 1em;
}

pre {
	word-wrap: break-word;
    white-space: pre-wrap;
}

p.alert {
	color: orange;
}

p.alert::before {
	content: "⚠️ ";
}