@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
    max-width: 100%;
}

body {
    background: #2e9ce6;
    font-family: 'Raleway','Arial';
    color: #fff;
    margin: auto;
    overflow: hidden;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
 }

.mat-toolbar {
    display: inline;
    text-transform: uppercase;
    margin: 2px 2px 2px 2px;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
    color: black;
    border-radius: 4px;
}

.rainbow-text {
    font-size: 25px;
    background-image: linear-gradient(to left, violet, yellow, orange, red);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.root-container {
    display: inherit;
    grid-template-columns: 100% auto;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    color: #fff;
    margin: 0px 10px 10px 30px;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
}

.img-container {
    width:100%;
    padding: 5px 5px 5px 5px;
    margin: 3px 3px 3px 3px;
    border: 1px solid black;
}

.img-container img {
    width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.color-dark {
    background: #2885c4;
    font-weight: bold;
    color:  #0f202c;
    max-width: 100%;
}

.color-light {
    background: #57B3f1;
    max-width: 100%;
}

.col {
    border: 2px solid #150072;
    padding: .4em 1.3em;
}

.life-container {
    background: #3fa0e1;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}

.options {
    padding: .15rem;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:black; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color:black; 
    background-color:rgb(35, 36, 39);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(35, 36, 39);
}

.mat-checkbox .mat-checkbox-frame 
.mat-checkbox-indeterminate.mat-accent 
.mat-checkbox-background,
.mat-checkbox-checked.mat-accent 
.mat-checkbox-background {
    border-color: black;
    background-color: rgb(35, 36, 39);
}

.mat-button {
    color: rgb(166, 233, 250);
    background-color:rgb(35, 36, 39);
}

.mat-raised-button{
    color: rgb(166, 233, 250);
    background-color:black;
} 