<div>
    <p>{{qa.question}}</p>
    <div [ngSwitch]="qa.qType">
        <div *ngSwitchCase="qType.TextType">
            <input type="text" />
        </div>
        <div *ngSwitchCase="qType.BoolType">
            <input type="radio">
        </div>
        <div *ngSwitchCase="qType.MultAType">
            <mat-radio-group>
                <div *ngFor="let choice of qa.choices">
                    <div class="options">
                        <div [ngClass]="{
                            'text-success':choice.correct == true && qa.validated === true,
                            'text-fail':choice.correct == false && qa.validated === true
                            }">
                            <mat-radio-button value="{{choice.index}}" (change)="onChoiceSelection($event.source.value)">
                                <label>{{choice.value}}</label>
                            </mat-radio-button>
                        </div>
                    </div>
                </div>
            </mat-radio-group>
        </div>
        <div *ngSwitchCase="qType.MultMType">
            <div *ngFor="let choice of qa.choices">
                <div class="options">
                    <div [ngClass]="{
                        'text-success':choice.correct == true && qa.validated === true,
                        'text-fail':choice.correct == false && qa.validated === true
                        }">
                        <mat-checkbox (change)="onChoiceSelection($event.source.value)" value="{{choice.index}}">
                            <label>{{choice.value}}</label>
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="options">
        <button mat-raised-button (click)="validate()">Validate</button>
    </div>

    <div class="options" *ngIf="qa.validated && qa.point === 1">
        <p>Got it</p>
    </div>
</div>