<div>
    <p>{{qa.question}}</p>
    <div [ngSwitch]="qa.type">
        <div *ngSwitchCase="qaType.textType">
            <input type="text" />
        </div>
        <div *ngSwitchCase="qaType.boolType">
            <input type="radio">
        </div>
        <div *ngSwitchCase="qaType.multAType">
            <mat-radio-group>
                <div *ngFor="let choice of qa.options">
                    <div class="options">
                        <div [ngClass]="{
                            'text-success':choice.status === 'O',
                            'text-fail':choice.status === 'X'
                            }">
                            <mat-radio-button value="{{choice.index}}" (change)="onRadioChange($event)">
                                <label>{{choice.value}}</label>
                            </mat-radio-button>
                        </div>
                    </div>
                </div>
            </mat-radio-group>
        </div>
        <div *ngSwitchCase="qaType.multMType">
            <div *ngFor="let choice of qa.options">
                <div class="options">
                    <div [ngClass]="{
                        'text-success':choice.status === 'O',
                        'text-fail':choice.status === 'X'
                        }">
                        <mat-checkbox (change)="onCheckboxChange($event)" value="{{choice.index}}">
                            <label>{{choice.value}}</label>
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="options">
        <button mat-raised-button (click)="validate()">Validate</button>
    </div>

    <div class="options" *ngIf="qa.validated && qa.point == 0">
        <p>Incorrect answer!!!</p>
    </div>
</div>